@model Meghan_CF_FinancialPortal.Models.Household

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Household / </span>Edit</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Edit Household</div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        @Html.HiddenFor(model => model.Id)
        <fieldset class="form-group">
            <label for="form-group-input-1">Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter household name...">
        </fieldset>
        <fieldset class="form-group text-right">
            <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
    }
</div>

@section scripts {
    @if (TempData.ContainsKey("NameNotUnique"))
    {
        <script>
                    $(function () {
                        swal('Oops!', '@TempData["NameNotUnique"]', 'warning');
                    });
        </script>
    }
}
